/* i chose this colour scheme because they are light and welcoming colours that i thought had a 
nice pastel colour scheme. I think that this represents Naawi-oodena well because they are a welcoming community */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #d5f0dd;
}

header {
  background: #118ab2;
  color: #fff;
  padding: 15px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: -webkit-sticky;
  position: sticky;
}

nav {
  display: flex;
  align-items: center;
  position: -webkit-sticky;
  position: sticky;
}

nav a {
  color: #fff;
  text-decoration: none;
  padding: 15px 20px;
  display: inline-block;
  position: -webkit-sticky;
  top: 0;
}
nav a:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  color: black;
}
h1 {
  color: #073b4c;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
p {
  color: #073b4c;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.an {
  position: relative;
  animation-name: ani;
  animation-duration: 4s;
}

@keyframes ani {
  0% {
    left: 1000px;
    top: 0px;
    opacity: 0.1;
  }
  100% {
    left: 0px;
    top: 0px;
    opacity: 1;
  }
}
.move {
  position: relative;
  animation-name: anim;
  animation-duration: 5s;
}

@keyframes anim {
  0% {
    left: -1000px;
    top: 0px;
    opacity: 0.1;
  }
  100% {
    left: 0px;
    top: 0px;
    opacity: 1;
  }
}
